* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --size: 10;
  --wallpaper-color: lightblue;
  --background-panel: lightgray;
}

body {
  background-color: var(--wallpaper-color)

}

.panel {
  font-size: 18pt;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  width: 15%;
  height: 5%;
  top: 50%;
  left: 50%;
  background-color: var(--background-panel);
  z-index: 2;
  opacity: 0.8;
}

.graph {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0.8;
}

.graduationSVG {
  position: absolute;
  left: 0;
  top: 0;
}

.graduationText {
  font: bold 32pt sans-serif;
  fill: black;
  z-index: 0;
}

.axisTEXT {
  font: 128pt sans-serif;
  fill: black;
  z-index: 0;
}

.gridSVG {
  display: block;
  display: absolute;
}
