* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --size: 10;
}

body {
  background-color: lightblue;
}

.panel {
  font-size: 18pt;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 76pt;
  background-color: lightgray;
  z-index: 2;
}

svg {
  display: absolute;
}



.xAxis {
  position: absolute;
  background-color: black;
  height: 4pt;
  width: 100%;
  bottom: 50vh;
  z-index: -1;
  transform: translateY(-2.5pt));
}

.zAxis {
  position: absolute;
  background-color: black;
  width: 5pt;
  height: 100%;
  right: 50%;
  z-index: -1;
  display: flex;
  flex-direction: column-reverse;
}

.arrowX {
  position: absolute;
  width: calc(1550px / var(--size));
  height: calc(861px / var(--size));
  right: 0;
  transform: rotate(-90deg) translateX(25%) translateY(45%);
}

.zAxis span {
  font-size: 48pt;
  height: max-content;
  transform: translateY(-64pt) translateX(24pt);
}

.xAxis span {
  font-size: 48pt;
  width: max-content;
  float: right;
  margin-right: 10%;
  transform: translateY(-64pt);
}

.arrowY {
  position: absolute;
  width: calc(1550px / var(--size));
  height: calc(861px / var(--size));
  bottom: 0;
  transform: translateX(calc(-50% + 2.5pt));
}
