* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --size: 10;
  --wallpaper-color: lightblue;
  --background-panel: lightgray;
}

.container {
  background-color: var(--wallpaper-color);
  z-index: -1;
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.panel {
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  width: 80pt;
  height: 28pt;
  top: 50%;
  left: 50%;
  z-index: 2;
  background-color: var(--background-panel);
  opacity: 0.8;
  visibility: hidden;
}

.graph {
  display: block;
  position: absolute;
  top: 0;
}

.graduationSVG {
  position: absolute;
  left: 0;
  top: 0;
}

.graduationText {
  font: bold 32pt sans-serif;
  fill: black;
  z-index: 0;
}

.axisTEXT {
  font: 128pt sans-serif;
  fill: black;
  z-index: 0;
}
